server:
  port: 8761

management:
  security:
    enabled: false
security:
  basic:
    enabled: true
  user:
    name: zhaowei  # 用户名
    password: 123456   # 用户密码

users:
  admin:
    name: mytian
    password: mytian0818
    roles: ADMIN,PC,APIUSER
  pc:
    name: pc
    password: pc-mytian0818
    roles: PCSERVER
  eureka:
    name: eureka
    password: eureka-mytian0818
    roles: EUREKA
  provider:
    name: provider
    password: provider-mytian0818
    roles: app
  consumer:
    name: consumer
    password: consumer-mytian0818
    roles: APIUSER
  config:
    name: config
    password: config-mytian0818
    roles: CONFIG
  zuul:
    name: zuul
    password: zuul-mytian0818
    roles: ZUUL
eureka:
  server:
    enable-self-preservation: false
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://eureka:eureka-mytian0818@${eureka.instance.hostname}:${server.port}/eureka/
